[user]
	name = Armadillan
	email = 74256936+Armadillan@users.noreply.github.com
	signingkey = 9F6E25A7AB9B7FB1
[init]
	defaultBranch = main
[credential]
	helper = cache
	credentialStore = gpg
	helper = 
	helper = /usr/local/bin/git-credential-manager-core

[core]
	editor = nano
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
