[user]
	name = Armadillan
	email = 74256936+Armadillan@users.noreply.github.com
	signingkey = A659137B0CBDA0E7
[init]
	defaultBranch = main
[credential]
	helper = cache
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager-core

[core]
	editor = nano
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
[pull]
	rebase = false
[branch]
	autosetuprebase = always
[push]
	autoSetupRemote = true
